.wap_login_body{
    background: url(../images/login/wap_login_bg.png) no-repeat #a89c7b center top;
}
.wap_login_logo_img{
    margin: 94px auto 42px;
    display: block;
    padding: 0 61px 0;
}
.wap_login_logo_txt_img{
    margin: 0 auto 50px;
    display: block;
}
.wap_login_title{
    font-size: 22px;
    width: 100%;
    line-height: 38px;
    text-align: center;
    color: #fff;
    background: #625d51;
    margin-bottom: 60px;
}
.wap_login_p{
    font-size: 20px;
}